.container{
    width: 600px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    background-color: #f8f9fa;
    padding: 24px;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 24px;
}
.paragraph {
    color: #838383;
    margin-bottom: 12px;
}
.tex-red{
    color: red;
    font-weight: 600;
}
.block-code{
    background-color: #eef7ee;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #008000;
    padding: 12px;
}
.text-pick{
    color: #bd95db;
}
.text-red-light{
   color: #e89aae ;
}
.text-blue-light{
color: #b3d5f1;
}
.button2{
 background-color: #28a745;
 padding: 8px;
 border-radius: 4px;
 color: white;
 font-weight: 600;
 border: 1px solid transparent;
}
