body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background: #1b5ecb;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;

}

tr:nth-child(even) {
    background: #f2f2f2;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }
  
  .view {
    background-color:green;
    color: white;
  }
  
  .update {
    background-color:yellow;
    color: black;
  }
  
  .delete {
    background-color:red;
    color: white;
  }
